<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group">
                <label for="name">category</label>
                <input #name="ngModel" [(ngModel)]="category.name" name="name" id="name" type="text" class="form-control" required>
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredCategory">
            <td>{{p.name}}</td>
            <td>
                <a [routerLink]="['/admin/admin-category/', p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
    
    
